/*  Start Main Rules */
body {
	background-color: #F4F4F4;
	font-size: 16px;
	height: 1500px;
}


.asterisk {
	font-size: 30px;
	position: absolute;
	color: #D20707;
	top: 10px;
	right: 30px;
}

.show-pass {
	position: absolute;
	top: 5px;
	right: -30px;
}

td {
	max-width: 400px;
}

.none-message {
	background-color: #FFF;
	padding: 10px;
	margin: 10px 0px;
	border-left: 5px solid #080;

}
/* End Main Rules */



/* Start Login Form */

.login {
	width: 400px;
	margin: 200px auto;

}

.login h4 {
	color: #888;
}

.login input {
	margin-bottom: 10px;

}

.login .form-control {
	background-color: #EAEAEA;
}

.login .btn {
	background-color: #0088de;
}
/* End Login Form */


/* Start Bootstrap Edits */

.navbar {
	border-radius: 0;
	margin-bottom: 0;
	border: none;
}

.navbar-brand {
	font-size: 1em;
}

.nav > li > a,
.navbar-brand {

	padding: 15px 12px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.dropdown-menu {

    background-color: #0088DE;
}

.dropdown-menu {
    border-radius: 0;
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
}

.dropdown-menu > li > a {
	color: #FFF;
	padding: 10px 15px;
}

.form-control {
	position: relative;
}
/* End Bootstrap Edits */


/* Start Dashboard Page */

.home-stats .stat {
	padding: 20px;
	font-size: 15px;
	color: #FFF;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.home-stats .stat i {
	position: absolute;
	font-size: 80px;
	top: 33px;
	left: 20px;

}

.home-stats .stat .info {
	float: right;
}

.home-stats .stat a {
	color: #FFF;
}

.home-stats .stat a:hover{
	text-decoration: none;
}

.home-stats .stat a:focus{
	text-decoration: none;
}

.home-stats .st-members {
	background-color: #3498db;
}

.home-stats .st-pending {
	background-color: #8e44ad;
}

.home-stats .st-items {
	background-color: #d35400;
}

.home-stats .st-comments {
	background-color: #2c3e50;
}

.home-stats .stat span {
	display: block;
	font-size: 60px;
}

.latest {
	margin-top: 30px;
}

.latest-users,
.latest-items {
	margin-bottom: 0px;
}

.latest .toggle-info {
	color: #999;
}

.latest .toggle-info:hover {
	color: #444;
	cursor: pointer;
}

.latest-users li,
.latest-items li {
	padding: 5px;
	overflow: hidden;
	position: relative;
}

.latest-users li .user,
.latest-items li .item {
	position: absolute;
	top: 8px;
}

.latest-users li:nth-child(odd),
.latest-items li:nth-child(odd) {
	background-color: #EEE;
}

.latest-users .btn-success,
.latest-users .activate,
.latest-items .btn-success,
.latest-items .activate {
	padding: 2px 8px;
	margin-left: 5px;
}

.latest .comment-box {
	margin: 5px 0 10px;
}

.latest .comment-box .member-comment,
.latest .comment-box .member-name {
	float:left;
}

.latest .comment-box .member-name {
	width: 80px;
	margin-right: 20px;
	position: relative;
	top: 8px;
	text-align: center;
    color: #337ab7;
}

.latest .comment-box .member-comment {
	background-color: #EFEFEF;
	padding: 10px;
	width: calc(100% - 100px);
	position: relative;
	
}

.latest .comment-box .member-comment:before {
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: -19px;
	border-style: solid;
	border-width: 10px;
	border-color: transparent #EFEFEF transparent transparent;
}

.latest .comment-box .controls {
	position: relative;
	left: 100px;
}

.latest .controls a {
	padding: 0px 3px;
}

.latest .controls a.activate {
	margin: 4.5px;
}
.latest .comment-box hr  {
	margin: 15px 0 20px 100px;
}

.latest .comment-box:last-child hr  {
	display: none;
}

/* End Dashboard Page */


/* Start Members Page */

h1 {
	font-size: 50px;
	margin: 40px 0;
	font-weight: bold;
	color: #555;
}

.main-table {

	-webkit-box-shadow: 0px 3px 10px #CCC;
	-moz-box-shadow: 0px 3px 10px #CCC;
	box-shadow: 0px 3px 10px #CCC;

}

.main-table tr td {
	background-color: #FFF;
	vertical-align: middle !important;
}

.main-table tr:first-child td{
	background-color: #333;
	color: #FFF;
}

.main-table .btn {
	padding: 3px 10px;
}

.main-table .activate {
	margin-left: 4.5px;
}


/* End Members Page */


/* Start Category Page */

.categories .panel {
	box-shadow: 5px 5px 20px #CCC,
				-1px -1px 5px #CCC;
}

.categories .panel-heading {
	color: #959595;
	font-weight: bold;
}


.categories .panel-heading i {
	position: relative;
	top: 1px;
}

.categories .panel-heading .option a,
.categories .panel-heading .option span{
	color: #888;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;

}

.categories .panel-heading .option .active{
	/* color: #d20303; */
	color: #0088DE;
	text-decoration: none;

}

.categories .panel-body {
	padding: 0;
}

.categories hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

.categories .cat {
	padding: 15px;
	position: relative;
	overflow: hidden;
}

.categories .cat .hidden-buttons {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: absolute;
	top: 16px;
	right: -120px;
}

.categories .cat:hover .hidden-buttons {
	right: 10px;

}

.categories .cat:hover {
	background-color: #EEE;

}

.categories .cat .hidden-buttons a {
	margin-right: 5px;
}



.categories .cat h3{
	margin: 0px;
	cursor: pointer;
	color: #6A6A6A;
	font-weight: bold;
}

.categories .cat .full-view p {
	margin: 10px 0px;
	color: #707070;
}

.categories .cat:last-of-type ~ hr {
	display: none;
}

.categories .cat span {
	color: #FFF;
	padding: 5px 10px;
	margin-right: 5px;
	border-radius: 5px;
	font-size: 0.9em;
}

.categories .cat .visibility {
	background-color: #c0392b;

}

.categories .cat .commenting {
	background-color: #34495e;
}

.categories .cat .advertises {
	background-color: #5e0a82;
}

.categories .cat .child-head {
	margin: 15px 0px 10px;
	font-weight: bold;
	font-size: 16px;
	color: #22AB79;
}

.categories .child-cats {
	margin: 0px;
}

.categories .child-cats li {
	margin-left: 15px;
}

.categories .child-cats li:before {
	content: '- ';
}

.categories .btn-primary {
	margin-top: -10px;
	margin-bottom: 30px;
}


.categories .show-delete {
	color: #F00;
	display: none;
}


/* End Category Page */

/* Start Comments Page */
	

/* End Comments Page */